
.hidecontent {
    visibility: hidden; 
}

body {
  margin-right: 10vw;
  margin-left: 10vw;
  font-family: 'Playfair Display', serif;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
  background-color: #fff;
  border-bottom: #222 solid 2px;
  font-size: 3em;
}

.nav-bar {
    margin: 0;
    padding: 0;
    grid-area: navbar;
    height: 50px;
    background-color: #222;
    color: #eee;
    font-size: 1em;
  }

.footer {
  grid-area: footer;
  font-size: 1em;
  text-align: right;
}

.sidebar {
    background-color: #eee;
    text-align: center;
    padding: 10px;
    height: 80vh;
}

.sidebar #title {
    text-decoration: underline;
    margin-bottom: 5px;
}

.course-list li {
    width: 50%;
    height: 25px;
    margin: 0;
    padding: 0;
    display: table
}

.course-list p {
    font-size: 0.75em;
    margin: 0;
    vertical-align: middle;
    display: table-cell
}

.course-info {
    padding: 1em;
}

.course-info-title {
    font-size: 1.5em;
    margin: 0;
}

.course-info-name {
    margin: 0;
    font-size: 1.2em;
    padding: 4px 0 4px 0;
}

.course-info-desc {
    margin: 0;
    font-size: 0.8em;
}

.wrapper {
    display: grid;
    width: 60vw;
    grid-gap: 10px;
    grid-template-columns: 300px 900px;
    grid-template-rows: 70px 50px 1fr 50px;
    grid-template-areas:
    "header header"
    "navbar navbar"
    "sidebar content"
    "footer footer";
    color: #eee;
}

.footer {
    border-top: #222 solid 2px;
}

/* Input Form */
input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    border-radius: 5px;
    border-width: 1px;
    border-color: #FFFFFF;
    font-size: 16px;
    height: 30px;
    padding-left: 3%;
    margin-bottom: 15px;
}

input[type=text] {
    width: 100%;
    float: right;
}

/* Drop down menu*/
input::-webkit-calendar-picker-indicator {
  opacity: 100;
  color: grey;
  padding:  7px 15px 7px 15px; 
  border-left: 1px solid lightgrey; 
 }

.box {
  color: #111;
  border-radius: 5px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

